header {
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  position: fixed;
  z-index: 1000;
}

.header {
  border-bottom: 1px solid #eaeaea;
}

.header-top {
  height: 60px;
  border-bottom: 1px solid #eaeaea;
}

.conwrap {
  max-width: 1400px;
  width: 95%;
  margin: 0 auto;
  position: relative;
}
